@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');  

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

.font-headline {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-body {
  font-family: 'Inter', sans-serif;
}

.font-label {
  font-family: 'Inter', sans-serif;
}

.adventure-gradient {
            background: linear-gradient(135deg, #005d90 0%, #0077b6 100%);
}

@theme {
  --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

  /* PRIMARY */
  --color-primary: #005d90;
  --color-primary-fixed: #cde5ff;
  --color-primary-fixed-dim: #94ccff;
  --color-primary-container: #0077b6;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #f3f7ff;
  --color-on-primary-fixed: #001d32;
  --color-on-primary-fixed-variant: #004b74;
  --color-inverse-primary: #94ccff;

  /* SECONDARY */
  --color-secondary: #7f5600;
  --color-secondary-container: #f9ad00;
  --color-secondary-fixed: #ffdeae;
  --color-secondary-fixed-dim: #ffba3f;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #664500;
  --color-on-secondary-fixed: #281800;
  --color-on-secondary-fixed-variant: #604100;

  /* TERTIARY */
  --color-tertiary: #006176;
  --color-tertiary-container: #007c95;
  --color-tertiary-fixed: #b3ebff;
  --color-tertiary-fixed-dim: #4cd6fb;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #ecf9ff;
  --color-on-tertiary-fixed: #001f27;
  --color-on-tertiary-fixed-variant: #004e5f;

  /* SURFACE */
  --color-surface: #f8f9fa;
  --color-surface-dim: #d9dadb;
  --color-surface-bright: #f8f9fa;
  --color-surface-variant: #e1e3e4;
  --color-surface-tint: #006399;

  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;

  --color-on-surface: #191c1d;
  --color-on-surface-variant: #404850;
  --color-inverse-surface: #2e3132;
  --color-inverse-on-surface: #f0f1f2;

  /* BACKGROUND */
  --color-background: #f8f9fa;
  --color-on-background: #191c1d;

  /* ERROR */
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;

  /* OUTLINE */
  --color-outline: #707881;
  --color-outline-variant: #bfc7d1;
}